// import css
@import '~video-react/styles/scss/video-react';
// font-face
@font-face {
    font-family: 'Proxima Nova';
    src: url('../../assets/fonts/proximanova-regular.otf');
}

@font-face {
    font-family: 'Sigvar Serial';
    src: url('../../assets/fonts/sigvar_serial-regular.otf');
}

// general css
.none {
    display: none;
}

.flex {
    display: flex;
}

.flex_reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_rows {
    display: flex;
    width: 100%;
    gap: 12px;
}

.flex_rows_space_between {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 12px;
}

@media (max-width: 768px) {
    .mobile_btn_full {
        display: block;
        width: 100%;
    }
    .flex_rows {
        flex-wrap: wrap;
        gap: 0;
    }
}

// logo
.logo_light {
    width: 135px;
}

// bg
.bg_container {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px;
    font-size: 16px;
    background: #10174a;
    background-image: url('../../assets/images/others/bg-web.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

@media (max-width: 768px) {
    .bg_container {
        overflow: hidden;
        justify-content: flex-start;
        padding: 0;
        background: none;
    }
}

// card
.card_container {
    width: 100%;
    min-width: 768px;
    overflow: auto;
    display: grid;
    grid-template-columns: 230px 1fr;
    gap: 48px;
    padding: 48px;
    border-radius: var(--border-radius, 6px);
    background: var(--color-bg-container, #fff);
    .card_steps_container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        .steps_pc {
            display: flex;
            width: 100%;
        }
        .steps_mobile {
            display: none;
        }
    }
    .card_page_container {
        display: flex;
        flex-direction: column;
        gap: 16px;
        .card_page_section_container {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
    .card_footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        grid-column-start: span 2;
        text-align: center;
        .card_footer_text {
            color: var(--color-text-tertiary, rgba(34, 34, 34, 0.45));
            font-size: 14px;
        }
    }
}

@media (max-width: 768px) {
    .card_container {
        min-width: 375px;
        padding: 24px;
        .card_steps_container,
        .card_page_container {
            grid-column-start: span 2;
        }
        .card_steps_container {
            .steps_pc {
                display: none;
            }
            .steps_mobile {
                display: flex;
                width: 100%;
            }
        }
        .card_footer {
            flex-direction: column;
        }
        // override
        .ant-steps-item-content {
            width: 0px !important;
            .ant-steps-item-title {
                width: 0px !important;
                padding-right: 0px !important;
                 ::after {
                    inset-inline-start: 0 !important;
                }
            }
        }
        .ant-steps-item .ant-steps-item-wait {
            padding-left: 8px !important;
        }
        .ant-steps-item {
            padding-inline-start: 8px !important;
        }
    }
}

// override
:where(.css-dev-only-do-not-override-1ka5raa).ant-steps .ant-steps-item-title {
    font-size: 14px;
}

:where(.css-dev-only-do-not-override-1ka5raa).ant-steps .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-description {
    color: var(--color-text-tertiary, rgba(34, 34, 34, 0.45));
}

// sections
.section_top_container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    column-gap: 16px;
    row-gap: 8px;
}

.section_bottom_container {
    display: flex;
    width: 100%;
    gap: 12px;
    flex-direction: row-reverse;
}

.section_item_title {
    color: '#222' !important;
    margin: 0 !important;
    font-weight: 700 !important;
}

.info_container {
    display: grid;
    width: 100%;
    grid-template-columns: 88px auto;
    column-gap: 4px;
    row-gap: 0px;
}

.acknowledge_container {
    display: grid;
    width: 100%;
    grid-template-columns: 20px auto;
    column-gap: 4px;
    row-gap: 16px;
}

.acknowledge_checkbox_container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr auto;
    column-gap: 4px;
    padding: var(--paddingContentVerticalSM, 8px) var(--paddingContentHorizontal, 16px);
    background: var(--colorPrimaryBg, #e5e9f0);
}

.select_container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    column-gap: 24px;
    .ant-form-item {
        margin-bottom: 0 !important;
    }
}

.select_container_left {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.id_number_box {
    display: flex;
    padding: var(--paddingXS, 8px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: var(--borderRadiusLG, 8px);
    border: 1px solid var(--colorBorder, rgba(34, 34, 34, 0.15));
    background: var(--colorBgContainer, #fff);
}

.section_columns {
    display: grid;
    width: 100%;
    grid-template-columns: auto 56px;
    column-gap: 16px;
    row-gap: 0px;
}

.section_columns_qr {
    display: grid;
    width: 100%;
    grid-template-columns: auto 80px 80px;
    column-gap: 16px;
    row-gap: 0px;
    align-items: center;
}

.section_columns_2 {
    display: grid;
    width: 100%;
    grid-template-columns: auto 56px;
    /* Adjust to fit the image and content */
    column-gap: 25px;
    row-gap: 0px;
}

.section_columns_2 img {
    max-width: 300%;
    /* Ensure the image does not exceed its container */
    height: auto;
    /* Maintain aspect ratio */
    padding: 0;
    /* Adjust padding as needed */
    margin: 0;
    /* Adjust margin as needed */
    transform: translateX(-50%);
}

.section_img {
    width: 100%;
}

@media (max-width: 768px) {
    .section_columns_2 {
        column-gap: 50px;
    }
    .section_columns_2 img {
        width: 100%;
        /* Full width on very small screens */
        transform: translateX(-25%);
    }
}

.section_columns_logo_hub {
    grid-template-columns: auto 96px;
}

.section_columns_logo_hub .section_img {
    width: 100%;
}

@media (max-width: 1600px) {
    .section_columns_2 {
        column-gap: 50px;
    }
    .section_columns_2 img {
        width: 200%;
        /* Full width on very small screens */
        transform: translateX(-40%);
    }
}

@media (max-width: 480px) {
    .section_columns_2 img {
        width: 150%;
        /* Full width on very small screens */
        transform: translateX(-25%);
    }
}

@media (max-width: 768px) {
    .select_container {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        row-gap: 12px;
    }
}

// alerts
.alert_wrapper {
    border-width: 0 !important;
    border-radius: 0 !important;
}

.alert_warning {
    .ant-alert-message {
        color: '#BA5400' !important;
    }
}

// modals
.video_modal_container {
    display: inline-block;
}

.pdf_modal_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: '#fff';
}