.forget-password-page-bg-image {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: #10174A;
    background-image: url("../../assets/images/others/bg-web.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    .forget-password-full-page {
        flex: 1;
        width: 35rem;
        text-align: center;
        padding-top: 1rem;

        .forget-password-img-fluid {
            width: 4rem;
        }

        .forget-password-page-content {
            background-color: #fff;
            padding: 0.8rem 0.5rem;
            margin: 1rem auto;
            border-radius: 0.04rem;

            .forget-password-page-content-h2 {
                font-size: 0.6rem;
            }

            .forget-password-page-content-h5 {
                color: #7987a1;
                font-size: 0.3rem;
                padding-bottom: 0.3rem;
            }

            .float-end {
                display: flex;
                justify-content: flex-end;
                font-size: 0.24rem;
                padding-bottom: 0.5rem;

                .float-end-text {
                    color: #002569;
                    cursor: pointer;

                    &:hover {
                        color: skyblue;
                    }
                }
            }

            .forget-password-button {
                background-color: #002569;

                &:hover {
                    background-color: #2E77fD
                }
            }

            .forget-password-page-content-foot {
                .text-muted {
                    color: #7987a1;
                    display: flex;
                    justify-content: center;

                    .text-muted-text {
                        cursor: pointer;

                        &:hover {
                            color: skyblue;
                        }
                    }
                }
            }
        }
    }
}

.page-modal-conetn {
    display: flex;
    flex-direction: column;
    align-items: center;

    .page-modal-conetn-footer {
        display: flex;

        .button {
            background-color: #002569;


            &:hover {
                background-color: #2E77fD
            }
        }
    }
}