.layout-page {
    width: 100vw;
    height: 100vh;
    display: flex;

    .bg-shadow {
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: black;
        top: 0;
        left: 0;
        z-index: 998;
        opacity: 0;
        visibility: hidden;
    }

    .layout-page-menu {
        width: 4.4rem;
        background-color: #0d1a4a;
        overflow: hidden;
        z-index: 999;


        .layout-page-menu-logo {
            display: flex;
            border-bottom: 1px solid rgba(233, 236, 239, 0.1);
            margin-bottom: 1rem;
            padding-left: 0.5rem;

            .logo-div-img {
                height: 1.7rem;

                .logo-img {
                    width: 2rem;
                    height: 2rem;
                }
            }

            .logo-bottun {
                width: 1rem;
                height: 1rem;
            }

        }

        .layout-page-menu-list {
            padding-left: 0.5rem;
            color: white;
        }
    }

    .lateral {
        width: 1.4rem;
        animation: ease 0.3s scaled forwards;
    }

    .layout-page-conent {
        width: 800px;
        flex: 1;
        display: flex;
        flex-direction: column;
        background-color: #f9fafb;
        overflow: auto;

        .layout-page-conent-head {
            width: 100%;
            height: 1.1rem;
            background-color: #fff;
            border-bottom: 1px solid #e9ecef;
            z-index: 978;
            box-shadow: 3px 0 10px 0 rgb(183 192 206 / 20%);
            transition: width 0.1s ease, left 0.1s ease;
        }

        .layout-page-conent-bot {
            flex: 1;
            height: 0;
            width: 100%;
            // padding: 0.5rem 0.5rem 0 0.5rem;

        }
    }


}

@-webkit-keyframes scaled {
    100% {
        width: 1.4rem;
    }
}

@keyframes scaled {
    100% {
        width: 1.4rem;
    }
}

@media (max-width: 992px) {
    .layout-page-menu {
        position: fixed;
        top: 0;
        left: -4.4rem;
    }

    .lateralMin {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
    }

    .bg-shadow-show {
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: black;
        top: 0;
        left: 0;
        z-index: 998;
        opacity: .5;
        visibility: inherit;
    }
}