.on-boarding-session-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;


    .on-boarding-session-page-heard {
        display: flex;
        margin: 0.5rem;
        font-size: 0.25rem;

        .dashboard-page-heard-title {
            color: black;

            &:hover {
                color: #2e77fd;
            }
        }

        .dashboard-page-heard-title-active {
            color: #7987a1;
            margin-left: 0.2rem;
        }
    }

    .on-boarding-session-page-conetn {
        flex: 1;

        .conten-body {
            margin: 0 0.5rem 0.5rem 0.5rem;
            padding: 0.5rem;
            background-color: #fff;
            box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
            border-radius: 0.1rem;

            .on-boarding-session-page-conetn-herad {
                display: flex;
                justify-content: space-between;

                .on-boarding-session-page-conetn-title {
                    font-size: 0.35rem;
                    font-weight: bold;
                    padding-bottom: 0.5rem;
                }
            }

            .on-boarding-session-page-table-conten {
                .on-boarding-session-page-table-item {
                    text-align: center;

                    .on-boarding-session-page-table-item-lable {
                        margin: 0.2rem 0;
                    }

                }

                .add-button {
                    margin-top: 0.5rem;
                    background-color: #002569;

                    &:hover {
                        background-color: #2E77fD
                    }
                }

                .on-boarding-session-delet {
                    cursor: pointer;
                }
            }
        }

    }

}

.on-boarding-session-page-modal-conetn {
    display: flex;
    flex-direction: column;
    align-items: center;

    .on-boarding-session-page-modal-conetn-footer {
        margin-top: 0.2rem;
        display: flex;
    }

    .delete-button {
        background-color: #002569;

        &:hover {
            background-color: #2E77fD
        }
    }
}