.footer-page {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 0.5rem;
    border-top: 1px solid #e9ecef;

    p {
        font-size: 0.16rem;
        color: #7987a1
    }


}