.dashboard-page {
    height: 100%;
    width: 100%;
    overflow: auto;

    .dashboard-page-heard {
        display: flex;
        justify-content: space-between;
        margin: 0.5rem;

        .dashboard-page-heard-title {
            font-size: .32rem;
            font-weight: bolder;
        }

        .download-btn {
            background-color: #002569;

            &:hover {
                background-color: #2E77fD
            }
        }

        .dashboard-page-heard-btn {
            display: flex;
            align-items: center;
        }
    }

    .dashboard-page-content {
        margin: 0 0.5rem;

        .card-one {
            padding: 0.3rem;
            background-color: #fff;
            border-radius: 0.1rem;
            margin-bottom: 0.5rem;



            .card-title {
                font-size: 0.25rem;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 0.1rem;
            }

            .text-muted {
                font-size: 0.15rem;
                color: #7987a1;
                margin-bottom: 0.1rem;
            }

            .align-number-conten {
                .items-number {
                    font-size: 0.4rem;
                    font-weight: bold;
                    margin-top: 0.15rem;
                    margin-bottom: 0.15rem;
                }

                .align-items-baseline {
                    margin-bottom: 0.2rem;

                    .arrow-up {
                        margin-left: 0.1rem;
                    }

                    .arrow-down {
                        margin-left: 0.1rem;
                    }

                    .text-success-up {
                        color: #05a34a;
                    }

                    .text-success-down {
                        color: #ff4040;
                    }
                }
            }

            .apexcharts-card {
                height: 1.3rem;
            }

            .apexcharts-card-two {
                height: 6.5rem;
            }

            .apexcharts-card-two-bar {
                height: 3rem;

                .align-items-baseline {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 0.3rem;
                    align-items: center;

                    .text-muted {
                        font-size: 0.3rem;
                    }
                }

                .progress {
                    height: 0.3rem;
                    border-radius: 0.1rem;
                }
            }
        }

    }

    .clearfix::after {
        content: '';
        display: block;
        clear: both;
        height: 0;
        visibility: hidden;
    }
}


@keyframes progress-bar-stripes {
    0% {
        background-position-x: 1rem;
    }
}


/* 以下为最后一个图表的css的样式 */
.progress {
    --bs-progress-height: 1rem;
    --bs-progress-font-size: 0.65625rem;
    --bs-progress-bg: #e9ecef;
    --bs-progress-border-radius: 0.25rem;
    --bs-progress-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --bs-progress-bar-color: #fff;
    --bs-progress-bar-bg: #002569;
    --bs-progress-bar-transition: width 0.6s ease;
    display: flex;
    height: var(--bs-progress-height);
    overflow: hidden;
    font-size: var(--bs-progress-font-size);
    background-color: var(--bs-progress-bg);
    border-radius: var(--bs-progress-border-radius);
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: var(--bs-progress-bar-color);
    text-align: center;
    white-space: nowrap;
    background-color: var(--bs-progress-bar-bg);
    transition: var(--bs-progress-bar-transition);
}

@media (prefers-reduced-motion: reduce) {
    .progress-bar {
        transition: none;
    }
}

.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: var(--bs-progress-height) var(--bs-progress-height);
}

.progress-bar-animated {
    animation: 1s linear infinite progress-bar-stripes;
}

@media (prefers-reduced-motion: reduce) {
    .progress-bar-animated {
        animation: none;
    }
}

/* --bs-info-rgb 此类参数值请到App.css中找 */

.bg-info {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-info-rgb), var(--bs-bg-opacity)) !important;
}

.bg-warning {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity)) !important;
}

/* 以上为最后一个图表的css的样式 */