.sidebar {
    width: 100%;
    height: 100%;
    z-index: 999;
    animation: all 1s ease;

    .sidebar-header {
        height: 1.4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(233, 236, 239, 0.1);
        padding: 0 0.5rem;

        .sidebar-close {
            height: 1.4rem;
            line-height: 1.4rem;
            align-items: center;
            color: #7987a1;
            font-size: 0.5rem;
            cursor: pointer;
        }

        .sidebar-brand {
            opacity: 1;
            visibility: visible;
            -webkit-transition: opacity 0.5s ease;
            transition: opacity 0.5s ease;
            font-weight: 700;
            font-size: 25px;
            color: #2C2C2C;
            direction: ltr
                /*rtl:ignore*/
            ;
            cursor: pointer;

            .img-lg {
                width: 1.7rem;
                height: 1.7rem;
            }

            span {
                color: #FF9F00;
                font-weight: 300;
            }
        }

        .sidebar-toggler {
            cursor: pointer;
            width: 18px;

            span {
                display: block;
                width: 100%;
                border-radius: 3px;
                height: 2px;
                background: #7987a1;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
                position: relative;
            }

            & span+span {
                margin-top: 4px;
            }

            &.active span:nth-child(1) {
                -webkit-animation: ease 0.6s top forwards;
                animation: ease 0.6s top forwards;
            }

            &.not-active span:nth-child(1) {
                -webkit-animation: ease 0.6s top-2 forwards;
                animation: ease 0.6s top-2 forwards;
            }

            &.active span:nth-child(2) {
                -webkit-animation: ease 0.6s scaled forwards;
                animation: ease 0.6s scaled forwards;
            }

            &.not-active span:nth-child(2) {
                -webkit-animation: ease 0.6s scaled-2 forwards;
                animation: ease 0.6s scaled-2 forwards;
            }

            &.active span:nth-child(3) {
                -webkit-animation: ease 0.6s bottom forwards;
                animation: ease 0.6s bottom forwards;
            }

            &.not-active span:nth-child(3) {
                -webkit-animation: ease 0.6s bottom-2 forwards;
                animation: ease 0.6s bottom-2 forwards;
            }
        }

    }

    .sidebar-body {
        .nav {
            display: flex;
            flex-direction: column;
            padding: 25px 25px 50px 25px;

            .span-point {
                font-size: 14px;
                color: #999999;
                position: relative;
                top: 50%;
                left: 20%;

                &::before {
                    content: '';
                    display: block;
                    width: 5px;
                    height: 5px;
                    background: #999999;
                    border-radius: 50%;
                    margin-right: 6px;
                }
            }

            .nav-item {
                position: relative;
                cursor: pointer;

                .nav-link {
                    display: flex;
                    align-items: center;
                    padding: 0;
                    height: 32px;
                    white-space: nowrap;
                    color: #7987A1;

                    &:hover {
                        color: #FF9F00;
                    }

                    .link-icon {
                        width: 22px;
                        height: 22px;
                        fill: rgba(233, 236, 239, 0.21);
                        position: absolute;
                        color: inherit;
                        -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                    }

                    .link-title {
                        margin-left: 30px;
                        font-size: 14px;
                        -webkit-transition: all 0.2s ease-in-out;
                        transition: all 0.2s ease-in-out;
                        -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                    }

                    .link-arrow {
                        width: 14px;
                        height: 14px;
                        margin-left: auto;
                        -webkit-transition: all 0.3s ease;
                        -webkit-transition: all 0.3s ease-in-out;
                        transition: all 0.3s ease-in-out;
                        color: inherit;
                        -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                    }
                }

                .active {
                    color: #FF9F00;
                }
            }

            .active::before {
                content: "";
                width: 3px;
                height: 26px;
                background: #FF9F00;
                position: absolute;
                left: -25px;
            }

            .nav-category {
                color: #FFF;
                font-size: 11px;
                text-transform: uppercase;
                font-weight: 500;
                letter-spacing: 0.5px;
                margin-bottom: 5px;
                height: 15px;

                &:not(:first-child) {
                    margin-top: 20px;
                }
            }
        }
    }
}