.Privacy {
    height: 700px;
    overflow-y: auto;
    .Privacy-bold {
        font-size: 16px;
        color: #2c2c2c;
        font-weight: bold;
    }

    .Privacy-desc {
        font-size: 16px;
        color: #747576;
        margin-bottom: 12px;
    }

    .Privacy-href {
        font-size: 16px;
        color: #ff9f00;
    }
}