.change-session-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;


    .change-session-page-heard {
        display: flex;
        margin: 0.5rem;
        font-size: 0.25rem;

        .dashboard-page-heard-title {
            color: black;

            &:hover {
                color: #2e77fd;
            }
        }

        .dashboard-page-heard-title-active {
            color: #7987a1;
            margin-left: 0.2rem;
            margin-right: 0.2rem;
        }
    }

    .change-session-page-conetn {
        flex: 1;

        .conten-body {
            margin: 0 0.5rem 0.5rem 0.5rem;
            padding: 0.5rem;
            background-color: #fff;
            box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
            border-radius: 0.1rem;

            .change-session-page-conetn-herad {


                .change-session-page-conetn-title {
                    font-size: 0.35rem;
                    font-weight: bold;
                    padding-bottom: 0.5rem;
                }

                .change-session-page-conetn-text {
                    padding-bottom: 0.2rem;
                }
            }

            .change-session-page-table-conten {

                .change-session-page-table-item {
                    text-align: center;

                    .change-session-page-table-item-lable {
                        margin: 0.2rem 0;
                    }

                }

                .Submit-button {
                    display: flex;
                    margin-top: 0.5rem;
                    background-color: #002569;
                    margin-right: 0.2rem;

                    &:hover {
                        background-color: #2E77fD
                    }
                }

            }
        }

    }
}