.not-found-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .align-center {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .text-muted {
        font-size: 1.4rem;
        font-weight: bolder;
        --bs-text-opacity: 1;
        color: #7987a1 !important;
    }

    .text-found {
        font-size: 0.35rem;
        margin-bottom: 0.2rem;
        font-weight: bolder;
    }

    .text-center {
        font-size: 0.25rem;
        margin-bottom: 0.4rem;
        font-weight: bolder;
        --bs-text-opacity: 1;
        color: #7987a1 !important;
    }

}